body {
    font-family: 'Ubuntu', sans-serif;
    font-size: 16px;
    font-weight: 300;
    color: #888;
    line-height: 30px;
    text-align: center;
}

strong { font-weight: 500; }

a, a:hover, a:focus {
	color: #019299;
	text-decoration: none;
    -o-transition: all .3s; -moz-transition: all .3s; -webkit-transition: all .3s; -ms-transition: all .3s; transition: all .3s;
}

h1, h2 {
	margin-top: 10px;
	font-size: 38px;
    font-weight: 100;
    color: #555;
    line-height: 50px;
}

h3 {
	font-size: 22px;
    font-weight: 300;
    color: #fff;
    line-height: 30px;
}
p {
    color: #fff;
}

img { max-width: 100%; }




/***** Loader *****/

.loader {
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100%;
	background: #fff;
	overflow: hidden !important;
	z-index: 99999;
}

.loader-img {
	position: absolute;
	left: 50%;
	top: 50%;
	margin: -30px 0 0 -30px;
	width: 60px;
	height: 60px;
	background: url(../images/loading.gif) center center no-repeat;
}


.navbar-brand {
    width: 100%;
    height: auto;
    float: none;
    padding-top: 15px;
    display: block;
    text-align: left;
    opacity: 1;
}
a.navbar-brand>img {
    display: inline;
}

.navbar.navbar-no-bg {
    background: none;
    border: none;
    margin: 0;
    position: relative;
    z-index: 9;
}

ul.navbar-nav {
	font-size: 16px;
	color: #fff;
}

.navbar-inverse ul.navbar-nav li a { color: #fff; opacity: 0.8; border-bottom: 1px solid transparent; }
.navbar-inverse ul.navbar-nav li a:hover { color: #fff; opacity: 1; border-bottom: 1px solid #fff; }
.navbar-inverse ul.navbar-nav li a:focus { color: #fff; outline: 0; opacity: 1; border-bottom: 1px solid #fff; }

.navbar-inverse ul.navbar-nav li a.btn-link-2 {
	height: auto;
	margin: 4px 0 0 10px;
	padding-top: 10px;
	padding-bottom: 10px;
	border: 1px solid #fff;
}


/***** Top content *****/

.inner-bg {
    padding: 10px 0 0 0;
    position: relative;
    z-index: 10;
}

.top-content .text {
    padding-top: 120px;
    color: #fff;
}

.top-content .text h1 {
    color: #fff;
/*     text-shadow: 1px 1px 1px #000; */
}

.top-content .description {
	margin: 20px 0 10px 0;
}

.top-content .description p {
    /* opacity: 0.8; */
   /*  text-shadow: 1px 1px 1px #000; */
}

.top-content .top-big-link {
	margin-top: 35px;
}

.form-top {
    overflow: hidden;
    padding: 0 25px 15px 25px;
    background: rgba(220,20, 60, 0.5);
    border-bottom: 1px solid #ddd;
    text-align: left;
}

.form-top-left {
	float: left;
	width: 75%;
	padding-top: 25px;
}

.form-top-left h3 { margin-top: 0; }

.form-top-right {
	float: left;
	width: 25%;
	padding-top: 5px;
	font-size: 70px;
	color: #eee;
	line-height: 100px;
	text-align: right;
}

.form-bottom {
    padding: 25px 25px 30px 25px;
    background: rgba(220,20, 60, 0.5);
    text-align: left;
    margin-bottom: 20px;
}

.form-bottom form textarea {
	height: 100px;
}
.form-control:focus {
    border-color: rgba(108,116,208,1);
}
.form-bottom form .form-links {
	display: inline-block;
	width: 275px;
	text-align: right;
	vertical-align: top;
}

.form-bottom form .form-links a { color: #888; }
.form-bottom form .form-links a:hover, 
.form-bottom form .form-links a:focus { color: #888; border-bottom: 1px dotted #888; }

.checkbox label {
    line-height: 22px;
}
.checkbox label::before {
    width: 20px;
    height: 20px;
}

.checkbox label::after {
    left: 2px;
    top: 0px;
	    padding-top: 0px;
    font-size: 13px;
}
.checkbox label, .radio label {
    font-weight: 300;
	    color: #fff;
}

/* .subscribe-form {
    display: inline-block;
    float: right; 
    padding-top: 0;
} */

button.btn {
    position: relative;
    height: auto;
    margin: 0;
    padding: 0 20px;
    vertical-align: middle;
       background: none repeat scroll 0 0 rgba(0, 0, 0, 0);
    border: 1px solid #fff;
    font-family: Montserrat,sans-serif;
    font-size: 16px;
    font-weight: 300;
    line-height: 40px;
    color: #fff;
    -moz-border-radius: 0;
    -webkit-border-radius: 0;
    border-radius: 0;
    text-shadow: none;
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    -o-transition: all .3s;
    -moz-transition: all .3s;
    -webkit-transition: all .3s;
    -ms-transition: all .3s;
    transition: all .3s;
}
button.btn:hover {
    color: #666;
    background: #fff;
}
button.btn:focus,button.btn:active{
	color: #666;
    text-decoration: none;
    outline: none;
}

.form-control {
    height: 45px;
    border-radius: 0;
	border: 1px solid #fff;
}

.category {
    display: inline-block;
    width: 100%;
}
.top-content .category .text {
    padding-top: 0;
    color: #555;
}
.category li a:focus {
    outline: none;
    border: none;
}
.category .btn:hover {
    color: #555;
}
.category label {
    padding-top: 10px;
	color:#fff;
}
.category .btn {
    background: #fff;
    border: 1px solid #dcdcdc;
    color: #555;
    padding: 5px 10px;
    line-height: normal;
    height: 45px;
}
.category .bootstrap-select.btn-group .dropdown-toggle .filter-option {
    color: #555;
    font-size: 14px;
}
.category .bootstrap-select .dropdown-toggle:focus {
    outline: none !important;
    outline: none !important;
    outline-offset: 0;
}
/* .colorgraph {
  height: 5px;
  border-top: 0;
  background: #c4e17f;
  border-radius: 5px;
  background-image: -webkit-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -moz-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: -o-linear-gradient(left, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
  background-image: linear-gradient(to right, #c4e17f, #c4e17f 12.5%, #f7fdca 12.5%, #f7fdca 25%, #fecf71 25%, #fecf71 37.5%, #f0776c 37.5%, #f0776c 50%, #db9dbe 50%, #db9dbe 62.5%, #c49cde 62.5%, #c49cde 75%, #669ae1 75%, #669ae1 87.5%, #62c2e4 87.5%, #62c2e4);
} */

.colorgraph {
	background: #fff;
	height: 5px;
	 border-radius: 5px;
	 border-top: 0;
}

.inner-bg hr {
    margin-top: 0;
    margin-bottom: 0;
    border: 0;
    border-top: none;
	
}
.category .bootstrap-select:not([class*=col-]):not([class*=form-control]):not(.input-group-btn) {
    width: 100%;
}
ul.cb-slideshow li {
    list-style: none;
}

.form-top-left p {
    font-size: 14px;
}
.navbar-inverse .navbar-brand {
    color: #fff;
}


.footerattr aside {
    margin-bottom: 30px;
}


.footerattr .module-title {
    display: block;
    font-size: 16px;
    line-height: 51.2px;
    margin: 0 0 20px 0;
    padding: 5px 0;
    position: relative;
    text-align: center;
}


.footerattr .module-title span {
    letter-spacing: 2px;
    color: #fff;
    text-transform: uppercase;
}
.footerattr .module-title:before {
    background: none repeat scroll 0 0 #fff;
    bottom: 0;
    content: "";
    height: 2px;
    left: 50%;
    margin-left: -35px;
    position: absolute;
    width: 70px ;
}
.tz_social {
    text-align: center;
    margin-top: 40px;
}

.tz_social a:first-child {
    margin-left: 0;
}
.footerattr aside a {
    color: #fff;
}
.tz_social a {
    display: inline-block;
    width: 48px;
    height: 48px;
    font-size: 18px;
    line-height: 48px;
    color: #fff !important;
    text-align: center;
    border: 1px solid #eaa9bb;
	    background: transparent;
    border-radius: 50%;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    margin: 8px 0 0 8px;
    transition: all 0.3s linear 0s;
    -moz-transition: all 0.3s linear 0s;
    -webkit-transition: all 0.3s linear 0s;
    -ms-transition: all 0.3s linear 0s;
    -o-transition: all 0.3s linear 0s;
}

/* .tz_social a:hover {
    background: #e69aaf;
    border-color: #e69aaf;
    text-decoration: none;
} */

.tz_social a:hover {
    background: #fff;
    border-color: #fff;
    text-decoration: none;
    color: rgba(220,20, 60, 1) !important;
}

.names {
    padding: 0;
}

.padding-zero {
    padding: 0;
}
.area {
    padding: 0;
}
.names input.form-first-name {
    width: 97%;
}
.area input.form-city {
    width: 96%;
}
.area input.form-State {
    width: 96%;
}



/************responsive css*******/

@media screen and (max-width:767px) {
 .navbar-toggle { 
   display: none; 
 } 
.navbar-header {
    text-align: right;
}
a.nav-expander {
	top:0;
}
a.navbar-brand>img {
    width: 100%;
}
.navbar-toggle {
    float: none;
    margin-top: 8px;
    background-color: #ff0000;
    border: 1px solid #fff;
}
.navbar-toggle .icon-bar {
    background: #fff;
}
.top-content .text {
    padding-top: 30px;
}
.navbar-brand {
    width: 100%;

}

.form-top-left {
    width: 100%;
}
.names input.form-first-name {
    width: 100%;
}
.area input.form-city {
    width: 100%;
}
.area input.form-State {
    width: 100%;
}
}


@media screen and (max-width:480px) {
	.navbar-brand {
    font-size: 26px;
}
	
}


