body{
	padding:0;
	margin:0;
	font-family:"Dosis",sans-serif !important;
	 font-size: 12px;
    background-color:#fff !important;background-repeat:inherit;
}


.header {
    background: rgba(27, 27, 27, 1) none repeat scroll 0 0;
    padding: 10px 10px;
}
.hupso_toolbar > img {
  display: none;
}
.esg-entry-content1.eg-herbert-hoover-content1 {
    text-align: center;
}
footer .share-social {
    text-align: center;
    background: transparent;
}


footer.entry-footer {
    background: transparent;
}
.entry-title {
    text-align: center;
}

.pagination{
	display: none;
}
footer .widget li > a {
  color: #fff !important;
}
.rpwwt-post-excerpt {
    color: #fff;
    font-size: 12px;
    line-height: 17px;
    margin-bottom: 0;
    padding-top: 5px;
    display: block;
    margin-right: 37px;
}
span.rpwwt-post-title {
    margin: 0 50px;
    display: table;
}
.rpwwt-post-title {
    border-bottom: medium none;
    color: #fff;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
    line-height: 20px;
    padding-bottom: 5px;
    text-transform: uppercase;
}
footer ul li a:hover {
    color: #ff6060 !important;
    text-decoration: none !important;
}
footer ul li a:focus {
  color: #fff !important;
  text-decoration: none !important;
}






@media only screen and (min-width: 1212px) {
				#content{width:100%;}
				#sidebar{width:312px;}
			}
	
				
	
			/* Body Background Styling
			/*-----------------------------------------------------------------------------------*/
			body{background-color:#fff ;background-repeat:inherit;}
		
			/* Layout and Layout Styling
			/*-----------------------------------------------------------------------------------*/
			#main,
			.main-bg-color{
				background-color:rgba(255,255,255,1);
			}
			#content{width:100%;}
			#main.header-slider-active>.container,
			#main.footer-slider-active>.container{
				margin-top:0px;
			}
			.ozy-header-slider{
				margin-top:px;
			}
			#footer .container>div,
			#footer .container,
			#footer{
				height:56px;min-height:56px;
			}
			#footer,#footer>footer .container{
				line-height:56px;
			}
			#footer .top-social-icons>a>span {
				line-height:56px;
			}
			@-moz-document url-prefix() { 
				#footer .top-social-icons>a>span{line-height:56px;}
			}			
			#footer,
			#footer-widget-bar {
				background-color:rgba(0,0,0,1)			}
			#footer input,#footer a,#footer span,#footer p,#footer div,#footer td,#footer tr,#footer th,#footer h1,#footer h2,#footer h3,#footer h4,#footer h5,#footer h6,
			#footer-widget-bar input,#footer-widget-bar a,#footer-widget-bar span,#footer-widget-bar p,#footer-widget-bar div,#footer-widget-bar td,#footer-widget-bar tr,#footer-widget-bar th,#footer-widget-bar h1,#footer-widget-bar h2,#footer-widget-bar h3,#footer-widget-bar h4,#footer-widget-bar h5,#footer-widget-bar h6 {
				color:#ffffff !important;
			}
			#footer a:hover,
			#footer-widget-bar a:hover {
				color:#8c8c8c !important;
			}				
			#footer,
			#footer-widget-bar,
			#footer .top-social-icons>a {
				border-color:#3b3b3b			}
			
			#footer a,
			#footer-widget-bar a {
				color:#8c8c8c			}
			#footer-widget-bar input {
				background-color:rgba(0,0,0,1) !important;
			}
			#footer-widget-bar input,
			#footer-widget-bar .opening-time {
				border-color:#ffffff !important;				
			}
					@media only screen and (max-width: 479px) {
				#footer{height:112px;}			
				#main>.container{margin-top:px;}
			}
			@media only screen and (max-width: 1024px) and (min-width: 480px) {
				#header #title{padding-right:20px;}
				#header #title>a{line-height:px;}
				#main>.container{margin-top:px;}
				#footer{height:56px;}
			}	
			
				
			/* Primary Menu Styling
			/*-----------------------------------------------------------------------------------*/
					header .sf-menu>li>a,#nav-primary,
			#nav-primary>nav>div>ul>li,
			#nav-primary>nav>div>ul>li>a,
			#nav-primary>nav>div>ul>li:before{
				line-height:120px;height:120px;
			}			
			#sidr-menu>.lines-button .lines,
			#sidr-menu>.lines-button .lines:before,
			#sidr-menu>.lines-button .lines:after{
				background:rgba(255,255,255,1);
			}
	    	#sidr-menu>.lines-button:hover .lines,
			#sidr-menu>.lines-button:hover .lines:before,
			#sidr-menu>.lines-button:hover .lines:after{
				background:rgba(255,255,255,1);
			}
			#slide-menu,
			#slide-menu>a>span{
				line-height:px;
				height:px;
				width:px;
			}
			#slide-menu>a>span{
				color:rgba(255,255,255,1);
			}
							#header{
					background-color:transparent;
				}
				#slide-menu,#sidr{
					background-color:rgba(0,0,0,1);
				}
				
			.sf-menu ul li:hover,
			.sf-menu ul li.sfHover,
			#header #slide-menu:hover{
				background-color:rgba(32,32,32,1);
			}
			.sf-menu ul li,
			.sf-menu ul ul li,
			.sf-menu .sub-menu li:hover,
			.sf-menu .sub-menu li.sfHover,
			#header #slide-menu,
			.sf-menu .sub-menu .current-menu-parent{
				background-color:rgba(0,0,0,1);
			}
			#nav-primary .sf-menu>li::after{
				background-color:rgba(0,0,0,1);
			}
			#nav-top-small,
			#nav-top-small .top-social-icons>a,
			.sf-menu a,.sf-menu>li:before,
			#sidr,
			#sidr li,
			#sidr li:before,
			#sidr a,
			#sidr input {
				font-family:'Montserrat', sans-serif;font-weight:600;font-style:normal;font-size:12px;line-height:1.5em;color:rgba(255,255,255,1);			}
			
			.sf-menu ul li:hover>a, 
			nav>div>ul>li.current-menu-item:before, 
			.sf-menu>li.current-menu-ancestor:before, 
			.sf-menu>li:hover:before,
			.sub-menu .current-menu-parent>a,
			#sidr a:hover{color:rgba(255,255,255,1);}
			
			.sf-arrows .sf-with-ul:after,
			.sf-arrows>li:hover>.sf-with-ul:after{
				border-top-color: rgba(255,255,255,1);
			}
			.header-logo>h1>a{
				color:rgba(255,255,255,1) !important;
			}			
			/*#header-information-bar{
				text-align:;
			}*/			
			#header,
			#nav-top-small ul.info-bar *,
			#nav-top-small ul.sf-menu li,
			#nav-top-small .top-social-icons>a,
			.ozy-alternate-menu #header #nav-top-small,
			.search-input-unfold.open form {
				border-color:rgba(255,255,255,0.3);
			}
					/*classic*/
			.sf-menu ul li:hover, 
			.sf-menu ul li.sfHover, 
			#header #slide-menu:hover,
			#nav-primary>nav>div>ul ul>li.current_page_item>a {
				background-color:rgba(32,32,32,1);
			}
			.sf-menu ul li, 
			.sf-menu ul ul li, 
			.sub-menu li:hover,
			.sub-menu li.sfHover, 
			#header #slide-menu, 
			.sub-menu .current-menu-parent{
				background-color:rgba(0,0,0,1);
			}
			#nav-primary .sf-menu>li::after{
				background-color:rgba(0,0,0,1);
			}
			.sf-menu>li>a{
				font-family:'Montserrat', sans-serif;font-weight:600;font-style:normal;font-size:12px;line-height:1.5em;color:rgba(255,255,255,1);			}
			.sf-menu ul>li>a{
				font-family:'Montserrat', sans-serif;font-weight:500;font-style:normal;font-size:12px;line-height:1.5em;color:rgba(255,255,255,1);			}
			.sf-menu>li:hover>a,
			.sf-menu ul li:hover>a,
			.current-menu-parent>a,
			.current-menu-ancestor>a,
			.current_page_item>a {
				color:rgba(255,255,255,1);
			}
			.sf-menu ul li:hover>a,
			.sf-menu ul .current-menu-parent>a,
			.sf-menu ul .current-menu-ancestor>a,
			.sf-menu ul .current_page_item>a {
				background-color:rgba(32,32,32,1);
			}
			.sf-arrows .sf-with-ul:after,
			.sf-arrows>li:hover>.sf-with-ul:after{
				border-top-color: rgba(255,255,255,1);
			}
				.ozy-alternate-menu #sidr-menu>.lines-button .lines,
    .ozy-alternate-menu #sidr-menu>.lines-button .lines:before,
    .ozy-alternate-menu #sidr-menu>.lines-button .lines:after{
    	background:rgba(0,0,0,1);
    }
    .ozy-alternate-menu #sidr-menu>.lines-button:hover .lines,
    .ozy-alternate-menu #sidr-menu>.lines-button:hover .lines:before,
    .ozy-alternate-menu #sidr-menu>.lines-button:hover .lines:after{
    	background:rgba(243,51,55,1);
    }

    .ozy-alternate-menu #slide-menu,
    .ozy-alternate-menu #header{
    	background-color:rgba(255,255,255,1);
    }
	.ozy-alternate-menu .sf-menu ul li:hover, 
    .ozy-alternate-menu .sf-menu ul li.sfHover{
    	background-color:rgba(32,32,32,1);
    }
    .ozy-alternate-menu .sf-menu ul li, 
    .ozy-alternate-menu .sf-menu ul ul li, 
    .ozy-alternate-menu .sf-menu .sub-menu li:hover, 
    .ozy-alternate-menu .sf-menu .sub-menu li.sfHover, 
    .ozy-alternate-menu #header #slide-menu, 
    .ozy-alternate-menu .sf-menu .sub-menu .current-menu-parent{
    	background-color:rgba(255,255,255,1);
    }
	.ozy-alternate-menu #nav-primary .sf-menu>li::after{
    	background-color:rgba(255,255,255,1);
    }
    .ozy-alternate-menu #nav-top-small ul.info-bar *,
    .ozy-alternate-menu #nav-top-small .top-social-icons>a,
	.ozy-alternate-menu .sf-menu a,
    .ozy-alternate-menu .sf-menu>li:before{
    	color: rgba(0,0,0,1)    }

	.ozy-alternate-menu .sf-menu ul li:hover>a,
	.ozy-alternate-menu nav>div>ul>li.current-menu-item:before, 
	.ozy-alternate-menu .sf-menu>li.current-menu-ancestor:before, 
	.ozy-alternate-menu .sf-menu>li:hover:before,
	.ozy-alternate-menu .sub-menu .current-menu-parent>a {
    	color:rgba(243,51,55,1);
    }
	
	.ozy-alternate-menu .sf-arrows .sf-with-ul:after,
    .ozy-alternate-menu .sf-arrows>li:hover>.sf-with-ul:after{
    	border-top-color: rgba(0,0,0,1);
	}
	.ozy-alternate-menu .header-logo>h1>a{color:rgba(0,0,0,1) !important;}
    
    .ozy-alternate-menu #header,
    .ozy-alternate-menu #header #nav-top-small .top-social-icons>a,
   	.ozy-alternate-menu #header #nav-top-small ul.sf-menu li,    
    .ozy-alternate-menu #header #nav-top-small,
    .ozy-alternate-menu .search-input-unfold.open form {
        border-color:rgba(0,0,0,0.1);
    }    

	/*classic*/
	.ozy-alternate-menu .sf-menu ul li:hover, 
    .ozy-alternate-menu .sf-menu ul li.sfHover, 
    .ozy-alternate-menu #header #slide-menu:hover,
    .ozy-alternate-menu #nav-primary>nav>div>ul ul>li.current_page_item>a{background-color:rgba(32,32,32,1);}
    .ozy-alternate-menu .sf-menu ul li, 
    .ozy-alternate-menu .sf-menu ul ul li, 
    .ozy-alternate-menu .sub-menu li:hover, 
    .ozy-alternate-menu .sub-menu li.sfHover, 
    .ozy-alternate-menu #header #slide-menu, 
    .ozy-alternate-menu .sub-menu .current-menu-parent,
    .ozy-alternate-menu #nav-primary .sf-menu>li::after,
    /*.ozy-alternate-menu .sf-menu a*/ {
    	background-color:rgba(255,255,255,1);
    }
	/*.sf-menu ul li>a, */
	.ozy-alternate-menu .sf-menu>li:hover>a,
    .ozy-alternate-menu .current-menu-parent>a,
    .ozy-alternate-menu .current-menu-ancestor>a,
    .ozy-alternate-menu .current_page_item>a {
		color:rgba(243,51,55,1);    
    }
    .ozy-alternate-menu .sf-menu ul li:hover>a,
    .ozy-alternate-menu .sf-menu ul .current-menu-parent>a,
    .ozy-alternate-menu .sf-menu ul .current-menu-ancestor>a,
    .ozy-alternate-menu .sf-menu ul .current_page_item>a {
	    background-color:rgba(32,32,32,1);
    }
	.ozy-alternate-menu .sf-arrows .sf-with-ul:after,
    .ozy-alternate-menu .sf-arrows>li:hover>.sf-with-ul:after{
    	border-top-color: rgba(0,0,0,1);
    }			/* Sidebar Menu
			/*-----------------------------------------------------------------------------------*/
			#sidr{background-color:rgba(0,0,0,1);}
			#sidr>h5{line-height:px !important;}
			#sidr,#sidr span,#sidr p,#sidr div,#sidr td,#sidr tr,#sidr th,#sidr h1,#sidr h2,#sidr h3,#sidr h4,#sidr h5,#sidr h6{color:rgba(255,255,255,1) !important;}
			#sidr input{border:1px solid rgba(255,255,255,1);}

			/* Widgets
			/*-----------------------------------------------------------------------------------*/
			.widget li>a{
				color:#000000 !important;
			}
			.widget li>a:hover{
				color:#f33337 !important;
			}
			.ozy-latest-posts>a>span{
				background-color:rgba(243,51,55,.8);color:rgba(255,255,255,1);
			}
			
			/* Page Styling and Typography
			/*-----------------------------------------------------------------------------------*/
			.content-color-alternate{
				color:#f33337 !important;
			}
			.content-color,
			h1.content-color>a,h2.content-color>a,h3.content-color>a,h4.content-color>a,h5.content-color>a,h6.content-color>a {
				color:#000000 !important;
			}
			.ozy-footer-slider,
			.content-font,
			.ozy-header-slider,
			#content,
			#footer-widget-bar,
			#sidebar,
			#footer,
			input,
			select,
			textarea,
			.tooltipsy,
			.fancybox-inner,
			#woocommerce-lightbox-cart {
				font-family:'Montserrat', sans-serif;font-weight:normal;font-style:normal;font-size:14px;line-height:1.5em;color:#000000;			}
			#content a:not(.ms-btn),
			#sidebar a,#footer a,
			.alternate-text-color,
			#footer-widget-bar>.container>.widget-area a:hover,
			.fancybox-inner a,
			#woocommerce-lightbox-cart a {
				color:#c4a26c;
			}
			#footer #social-icons a,
			#ozy-share-div>a>span,
			.a-page-title,
			.page-pagination>a,
			.fancybox-inner,
			#woocommerce-lightbox-cart{
				color:#000000 !important;
			}
			.page-pagination>.current{
				background-color:rgba(240,240,240,1);
			}
			.a-page-title:hover{
				border-color:#000000 !important;
			}
			#header-logo h1,
			.nav-box a,
			#page-title-wrapper h1,
			#page-title-wrapper h3,
			#side-nav-bar a,
			#side-nav-bar h3,
			#content h1,
			#footer-widget-bar h1,
			#footer-widget-bar h2,
			#footer-widget-bar h3,
			#footer-widget-bar h4,
			#footer-widget-bar h5,
			#footer-widget-bar h6,
			#sidr h1,
			#sidr h2,
			#sidr h3,
			#sidr h4,
			#sidr h5,
			#sidr h6,
			#sidebar .widget h1,
			#footer h1,
			#content h2,
			#sidebar .widget h2,
			#footer h2,
			#content h3,
			#sidebar .widget h3,
			#footer h3,
			#content h4,
			#sidebar .widget h4,
			#footer h4,
			#content h5,
			#sidebar .widget h5,
			#footer h5,
			#content h6,
			#sidebar .widget h6,
			#footer h6,
			.heading-font,
			#logo,
			#tagline,
			.ozy-ajax-shoping-cart{
				font-family:'Montserrat', sans-serif;color:#000000;			}
			#page-title-wrapper h1,
			#content h1,
			#footer-widget-bar h1,
			#sidebar h1,
			#footer h1,
			#header-logo h1,
			#sidr h1{
					font-weight:700;font-size:40px;line-height:1.5em;			}
			#footer-widget-bar .widget-area h4,
			#sidebar .widget>h4 {
				font-weight:700;font-size:18px;line-height:1.5em;			}
			#content h2,
			#footer-widget-bar h2,
			#sidebar h2,
			#footer h2,
			#sidr h2{
				font-weight:700;font-style:italic;font-size:30px;line-height:1.5em;;
			}
			#page-title-wrapper h3,
			#content h3,
			#footer-widget-bar h3,
			#sidebar h3,
			#footer h3,
			#sidr h3{
				font-weight:700;font-style:italic;font-size:22px;line-height:1.5em;;
			}
			#content h4,
			#footer-widget-bar h4,
			#sidebar h4,
			#footer h4,
			#sidr h4{
				font-weight:700;font-size:18px;line-height:1.5em;;
			}
			#content h5,
			#footer-widget-bar h5,
			#sidebar h5,
			#footer h5,
			#sidr h5{
				font-weight:400;font-size:16px;line-height:1.5em;;
			}
			#content h6,
			#footer-widget-bar h6,
			#sidebar h6,
			#footer h6,
			#sidr h6{
				font-weight:700;font-style:italic;font-size:14px;line-height:1.5em;;
			}
			#footer-widget-bar .widget a:hover,
			#sidebar .widget a:hover{
                color:#000000;}




			span.plus-icon>span{
				background-color:#000000;
			}


/**************23feb********************/
.rpwwt-widget ul li a img {
    display: inline;
    float: left;
    margin: .3em 2em .75em 0;
}


/* Forms
			/*-----------------------------------------------------------------------------------*/
			
			#content input:not([type=submit]):not([type=file]):hover,
			#content textarea:hover,
			#content input:not([type=submit]):not([type=file]):focus,
			#content textarea:focus{
				    border-color: #999 !important;
    outline: 0 none;
			}
			.rsMinW .rsBullet span{
				background-color:rgb(35,35,35);
			}
			.generic-button,
			.woocommerce-page .button,
			.rsMinW .rsArrowIcn,
			input[type=button],
			input[type=submit],
			button[type=submit],
			.comment-body .reply>a,
			.tagcloud>a{
				color:rgb(255,255,255) !important;
				background-color:rgba(0,0,0,1);
				border:1px solid rgba(0,0,0,1);
			}
			.post-submeta>a.button:hover,
			.woocommerce-page .button:hover,
			.rsMinW .rsArrowIcn:hover,
			input[type=button]:hover,
			input[type=submit]:hover,
			button[type=submit]:hover,
			.comment-body .reply>a:hover,
			.tagcloud>a:hover{
				background-color:rgb(243,51,55);
				color:rgb(255,255,255) !important;
				border:1px solid rgba(243,51,55,1);
			}	

.read-more {
    color: #fff94b;
    font-weight: bold;
    font-size: 13px;
}




			
			/* Blog Comments & Blog Stuff
			/*-----------------------------------------------------------------------------------*/
			.comment-body,
			#ozy-share-div>a{
				background-color:rgba(240,240,240,1);
			}
			.post-submeta>div>div.button{
				background-color:#000000;
			}
			.post-submeta>div>div.arrow{
				border-color: transparent #000000 transparent transparent;
			}
			.post-title>span,
			.post-submeta>a>span,
			.simple-post-format>div>span{
				background-color:#f33337 !important;
			}
			.featured-thumbnail-header p,
			.featured-thumbnail-header a,
			.featured-thumbnail-header h1{
				color:#ffffff !important;
			}
			.featured-thumbnail-header>div{
				background-color:rgba(243,51,55,.4);
			}
			.featured-thumbnail>a,
			.ozy-related-posts .related-post-item>a{
				background-color:rgba(243,51,55,.8);
			}
			.post-submeta>div>div.button>a>span{
				color:rgba(240,240,240,1);
			}
			.post-meta p.g{
				color:#000000;
			}	
			
			#single-blog-tags>a,
			.ozy-related-posts .caption,
			.ozy-related-posts .caption>h4>a{
				color:rgba(255,255,255,1) !important;
				background-color:#000000;
			}
			#single-blog-tags>a:hover{
				color:rgba(255,255,255,1);
				background-color:#f33337;
			}
	
			/*post formats*/
			.simple-post-format.post-excerpt-aside>div{
				background-color:rgba(0,0,0,.8);
			}
			.simple-post-format>div{
				background-color:#000000;
			}
			.simple-post-format>div>span,
			.simple-post-format>div>h2,
			.simple-post-format>div>p,
			.simple-post-format>div>p>a,
			.simple-post-format>div>blockquote,
			.post-excerpt-audio>div>div{
				color:rgb(255,255,255) !important;
			}
			div.sticky.post-single {
				background-color:rgba(240,240,240,1);
				border-color:rgba(240,240,240,1);
			}
			
			/* Shortcodes
			/*-----------------------------------------------------------------------------------*/
			.ozy-postlistwithtitle-feed>a:hover{
				background-color:rgb(243,51,55);
			}
			.ozy-postlistwithtitle-feed>a:hover *{
				color:rgb(255,255,255) !important;
			}
			
			.ozy-accordion>h6.ui-accordion-header>span,
			.ozy-tabs .ozy-nav .ui-tabs-selected a,
			.ozy-tabs .ozy-nav .ui-tabs-active a,
			.ozy-toggle span.ui-icon{
				background-color:#f33337;
			}
			.ozy-tabs .ozy-nav .ui-tabs-selected a,
			.ozy-tabs .ozy-nav .ui-tabs-active a{
				border-color:#f33337 !important;
			}
			.ozy-tabs .ozy-nav li a{
				color:#000000 !important;
			}
			
			/*owl carousel*/
			.ozy-owlcarousel .item.item-extended>a .overlay-one *,
			.ozy-owlcarousel .item.item-extended>a .overlay-two *{
				color:#ffffff !important;
			}
			.ozy-owlcarousel .item.item-extended>a .overlay-one-bg{
				background-color:#f33337;
				background-color:rgba(243,51,55,0.5);
			}
			.ozy-owlcarousel .item.item-extended>a .overlay-two{
				background-color:#f33337;
				background-color:rgba(243,51,55,0.85);
			}
			.owl-theme .owl-controls .owl-page.active span{
				background-color:#f33337;
			}
			
			.ozy-button.auto,.wpb_button.wpb_ozy_auto{
				background-color:rgba(0,0,0,1);
				color:rgba(255,255,255,1);
			}
			.ozy-button.auto:hover,
			.wpb_button.wpb_ozy_auto:hover{
				border-color:rgba(243,51,55,1);
				color:rgba(255,255,255,1) !important;
				background-color:rgba(243,51,55,1);
			}
			
			.ozy-icon.circle{
				background-color:#000000;
			}
			.ozy-icon.circle2{
				color:#000000;
				border-color:#000000;
			}
			a:hover>.ozy-icon.square,
			a:hover>.ozy-icon.circle{
				background-color:transparent !important;color:#000000;
			}
			a:hover>.ozy-icon.circle2{
				color:#000000;
				border-color:transparent !important;
			}
	
			.wpb_content_element .wpb_tabs_nav li.ui-tabs-active{
				background-color:#f33337 !important;
				border-color:#f33337 !important;
			}
			.wpb_content_element .wpb_tabs_nav li,
			.wpb_accordion .wpb_accordion_wrapper .wpb_accordion_header{
				border-color:rgba(240,240,240,1) !important;
			}
			.wpb_content_element .wpb_tabs_nav li.ui-tabs-active>a{
				color:rgba(255,255,255,1) !important;
			}
			.wpb_content_element .wpb_tour_tabs_wrapper .wpb_tabs_nav a,
			.wpb_content_element .wpb_accordion_header a{
				color:#000000 !important;
			}
			.wpb_content_element .wpb_accordion_wrapper .wpb_accordion_header{
				font-size:14px !important;
				line-height:1.5em !important
			}
			.pricing-table .pricing-table-column+.pricetable-featured .pricing-price{
				color:#f33337 !important;
			}
			.pricing-table li,
			.pricing-table .pricing-table-column:first-child,
			.pricing-table .pricing-table-column{
				border-color:rgba(240,240,240,1) !important;
			}
			.pricing-table .pricing-table-column+.pricetable-featured,
			.pricing-table .pricing-table-column.pricetable-featured:first-child{
				border:4px solid #f33337 !important;
			}
			
			/* Shared Border Color
			/*-----------------------------------------------------------------------------------*/			
			.ozy-border-color,
			#ozy-share-div.ozy-share-div-blog,
			.page-content table td,
			#content table tr,
			.post-content table td,
			.ozy-toggle .ozy-toggle-title,
			.ozy-toggle-inner,
			.ozy-tabs .ozy-nav li a,
			.ozy-accordion>h6.ui-accordion-header,
			.ozy-accordion>div.ui-accordion-content,
			.chat-row .chat-text,
			#sidebar .widget>h4,
			#sidebar .widget li,
			.ozy-content-divider,
			#post-author,
			.single-post .post-submeta,
			.widget ul ul,
			blockquote,
			.page-pagination>a,
			.page-pagination>span,
			.woocommerce-pagination>ul>li>*,
			#content select,
			body.search article.result,
			div.rssSummary,
			#sidr input,
			#content table tr td,
			#content table tr th,
			.widget .testimonial-box {
				border-color:rgba(240,240,240,1);
			}
			#content table tr.featured {
				border:2px solid #f33337 !important;
			}		
			/* Specific heading styling
			/*-----------------------------------------------------------------------------------*/	
		#page-title-wrapper{
						height:100px
					}
					/* #main{
					margin-top:150px;
				}
				body.ozy-page-locked #main,
				body.no-page-title #main{
					margin-top:150px
				}		 */
			
			/* Conditional Page Template Styles
			/*-----------------------------------------------------------------------------------*/
					
					
					.text-light .navigationbuttons,.text-light .esg-pagination,.text-light .esg-filters{text-align:center;   position:relative;   z-index:2}.text-light .esg-filterbutton,.text-light .esg-navigationbutton,.text-light .esg-sortbutton,.text-light .esg-cartbutton{color:#999; margin-right:5px; cursor:pointer; padding:0px 15px 0px 10px; line-height:20px; font-size:12px; font-weight:600; font-family:'Montserrat', sans-serif; display:inline-block; background:transparent; margin-bottom:5px}.text-light .esg-navigationbutton *{color:#999}.text-light .esg-sortbutton-wrapper,.text-light .esg-cartbutton-wrapper{display:inline-block}.text-light .esg-sortbutton-order,.text-light .esg-cartbutton-order{display:inline-block;  vertical-align:middle;  width:29px;  line-height:20px;  font-size:9px;  font-weight:700;  color:#999;  cursor:pointer;  background:transparent}.text-light .esg-cartbutton{color:#999; cursor:default !important}.text-light .esg-cartbutton .esgicon-basket{color:#999;   font-size:15px;   line-height:15px;   margin-right:10px}.text-light .esg-cartbutton-wrapper{cursor:default !important}.text-light .esg-sortbutton,.text-light .esg-cartbutton{display:inline-block; position:relative; cursor:pointer; margin-right:0px}.text-light .esg-navigationbutton:hover,.text-light .esg-filterbutton:hover,.text-light .esg-sortbutton:hover,.text-light .esg-filterbutton.selected,.text-light .esg-sortbutton-order:hover,.text-light .esg-cartbutton-order:hover{color:#444}.text-light .esg-navigationbutton:hover,.text-light .esg-filterbutton:hover span:first-child,.text-light .esg-filterbutton.selected span:first-child{text-decoration:underline}.text-light .esg-filterbutton{border-right:1px solid #e5e5e5}.text-light .esg-filterbutton:last-child{border-right:none}.text-light .esg-sortbutton-order{padding-left:10px;  border-left:1px solid #e5e5e5}.text-light .esg-navigationbutton:hover *{color:#444}.text-light .esg-sortbutton-order.tp-desc:hover{border-color:#e5e5e5;   color:#444}.text-light .esg-filter-checked{padding:1px 3px; color:transparent; background:#eee; background:rgba(0,0,0,0.05); margin-left:7px; font-size:9px; font-weight:300; line-height:9px; vertical-align:middle}.text-light .esg-filter-checked *{}.text-light .esg-filterbutton.selected .esg-filter-checked,.text-light .esg-filterbutton:hover .esg-filter-checked{padding:1px 3px 1px 3px; color:#333; background:#eee; background:rgba(0,0,0,0.05); margin-left:7px; font-size:9px; font-weight:300; line-height:9px; vertical-align:middle}.text-light .esg-filterbutton{color:#999}.text-light .esg-selected-filterbutton{padding:5px 5px 5px 10px; color:#999; font-weight:600}.text-light .esg-cartbutton{}.text-light .esg-cartbutton,.text-light .esg-cartbutton a,.text-light .esg-cartbutton a:visited,.text-light .esg-cartbutton a:hover,.text-light .esg-cartbutton i,.text-light .esg-cartbutton i.before{font-weight:600; color:#999}.text-light .esg-cartbutton:hover a,.text-light .esg-cartbutton:hover i{color:#444}.text-light .esg-selected-filterbutton:hover .eg-icon-down-open,.text-light .esg-selected-filterbutton.hoveredfilter .eg-icon-down-open{color:#444}.text-light .esg-cartbutton:hover,.text-light .esg-selected-filterbutton:hover,.text-light .esg-selected-filterbutton.hoveredfilter{color:#444}.text-light .esg-selected-filterbutton .eg-icon-down-open{margin-left:5px;font-size:9px; line-height:20px; vertical-align:top; color:#999}.text-light .esg-filter-wrapper .esg-filterbutton:hover span,.text-light .esg-filter-wrapper .esg-filterbutton.selected span{text-decoration:none !important}.text-light .esg-dropdown-wrapper{border:1px solid rgba(255,255,255,0.15); background:#fff; background:rgba(255,255,255,0.95)}.text-light .esg-dropdown-wrapper .esg-filterbutton{border:none !important;background:transparent !important;line-height:25px; white-space:nowrap; padding:0px 10px; font-weight:600; text-align:left; color:#999 !important}.text-light .esg-dropdown-wrapper .esg-filterbutton span{text-decoration:none !important}.text-light .esg-dropdown-wrapper .esg-filterbutton:hover,.text-light .esg-dropdown-wrapper .esg-filterbutton.selected{color:#000 !important; box-shadow:none !important}.text-light .esg-dropdown-wrapper .esg-filter-checked{display:inline-block; margin-left:0px !important;margin-right:7px; margin-top:-2px !important; line-height:15px !important; border:1px solid #ddd}.text-light .esg-dropdown-wrapper .esg-filterbutton.selected .esg-filter-checked,.text-light .esg-dropdown-wrapper .esg-filterbutton:hover .esg-filter-checked{color:#000}.text-light .esg-dropdown-wrapper .esg-filter-checked span{vertical-align:middle; line-height:20px; color:#000}
					
					
					.eg-herbert-hoover-element-24{font-size:16px !important; line-height:12px !important; color:#ffffff !important; font-weight:400 !important; padding:17px 17px 17px 17px !important; border-radius:50% 50% 50% 50% !important; background-color:rgba(0,0,0,0.50) !important; z-index:2 !important; display:block; border-top-width:0px !important; border-right-width:0px !important; border-bottom-width:0px !important; border-left-width:0px !important; border-color:#ffffff !important; border-style:solid !important}.eg-herbert-hoover-element-0{font-size:28px !important; line-height:44px !important; color:#000000 !important; font-weight:700 !important; padding:0px 0px 0px 0px !important; border-radius:0px 0px 0px 0px !important; background-color:rgba(255,255,255,0) !important; z-index:2 !important; display:block; font-family:'Montserrat', sans-serif !important; text-transform:capitalize !important}.eg-herbert-hoover-element-25{font-size:16px !important; line-height:22px !important; color:#ffffff !important; font-weight:400 !important; display:inline-block !important; float:none !important; clear:none !important; margin:0px 0px 0px 5px !important; padding:17px 17px 17px 17px !important; border-radius:50% 50% 50% 50% !important; background-color:rgba(0,0,0,0.50) !important; position:relative !important; z-index:2 !important; border-top-width:0px !important; border-right-width:0px !important; border-bottom-width:0px !important; border-left-width:0px !important; border-color:#ffffff !important; border-style:solid !important}.eg-herbert-hoover-element-1{font-size:16px !important; line-height:18px !important; color:#c4a26c !important; font-weight:700 !important; padding:0px 0px 0px 0px !important; border-radius:0px 0px 0px 0px !important; background-color:rgba(255,255,255,1.00) !important; z-index:2 !important; font-family:'Montserrat', sans-serif !important; text-transform:uppercase !important}.eg-herbert-hoover-element-26{font-size:13px !important; line-height:20px !important; color:#000000 !important; font-weight:700 !important; display:inline-block !important; float:none !important; clear:both !important; margin:0px 0px 0px 0px !important; padding:5px 10px 5px 10px !important; border-radius:0px 0px 0px 0px !important; background-color:rgba(255,255,255,0) !important; position:relative !important; z-index:2 !important; font-family:'Montserrat', sans-serif !important; text-transform:uppercase !important}.eg-herbert-hoover-element-4{line-height:35px !important; display:inline-block !important; float:none !important; clear:both !important; margin:0px 0px 0px 0px !important; padding:0px 0px 0px 0px !important; border-radius:0px 0px 0px 0px !important; background-color:rgba(255,255,255,0) !important; position:relative !important; z-index:2 !important; text-transform:uppercase !important; border-top-width:2px !important; border-right-width:0px !important; border-bottom-width:0px !important; border-left-width:0px !important; border-color:#000000 !important; border-style:solid !important}.eg-herbert-hoover-element-6{font-size:15px; line-height:22px; color:#555555; font-weight:400; display:inline-block; float:none; clear:both; margin:5px 0px 0px 0px ; padding:0px 0px 0px 0px ; border-radius:0px 0px 0px 0px ; background-color:rgba(255,255,255,0); position:relative; z-index:2 !important; font-family:'Montserrat', sans-serif; text-transform:capitalize}.eg-herbert-hoover-element-8{font-size:22px !important; line-height:7px !important; color:#000000 !important; font-weight:400 !important; padding:0px 0px 0px 0px !important; border-radius:60px 60px 60px 60px !important; background-color:rgba(255,255,255,0) !important; z-index:2 !important; display:block; border-top-width:2px !important; border-right-width:2px !important; border-bottom-width:2px !important; border-left-width:2px !important; border-color:#ffffff !important; border-style:solid !important}.eg-herbert-hoover-element-9{font-size:22px !important; line-height:7px !important; color:#000000 !important; font-weight:400 !important; padding:0px 0px 0px 0px !important; border-radius:60px 60px 60px 60px !important; background-color:rgba(255,255,255,0) !important; z-index:2 !important; display:block; border-top-width:2px !important; border-right-width:2px !important; border-bottom-width:2px !important; border-left-width:2px !important; border-color:#ffffff !important; border-style:solid !important}.eg-herbert-hoover-element-2{font-size:22px !important; line-height:7px !important; color:#000000 !important; font-weight:400 !important; padding:0px 0px 0px 0px !important; border-radius:60px 60px 60px 60px !important; background-color:rgba(255,255,255,0) !important; z-index:2 !important; display:block; border-top-width:2px !important; border-right-width:2px !important; border-bottom-width:2px !important; border-left-width:2px !important; border-color:#ffffff !important; border-style:solid !important}.eg-herbert-hoover-element-10{font-size:22px !important; line-height:7px !important; color:#000000 !important; font-weight:400 !important; padding:0px 0px 0px 0px !important; border-radius:60px 60px 60px 60px !important; background-color:rgba(255,255,255,0) !important; z-index:2 !important; display:block; border-top-width:2px !important; border-right-width:2px !important; border-bottom-width:2px !important; border-left-width:2px !important; border-color:#ffffff !important; border-style:solid !important}
					
					
					.eg-herbert-hoover-element-24:hover{font-size:16px !important; line-height:12px !important; color:#ffffff !important; font-weight:400 !important; border-radius:50px 50px 50px 50px !important; background-color:rgba(0,0,0,0.75) !important; border-top-width:0px !important; border-right-width:0px !important; border-bottom-width:0px !important; border-left-width:0px !important; border-color:#ffffff !important; border-style:solid !important}.eg-herbert-hoover-element-25:hover{font-size:16px !important; line-height:22px !important; color:#ffffff !important; font-weight:400 !important; border-radius:50px 50px 50px 50px !important; background-color:rgba(0,0,0,0.75) !important; border-top-width:0px !important; border-right-width:0px !important; border-bottom-width:0px !important; border-left-width:0px !important; border-color:#ffffff !important; border-style:solid !important}.eg-herbert-hoover-element-1:hover{font-size:16px !important; line-height:18px !important; color:#b28e56 !important; font-weight:700 !important; border-radius:0px 0px 0px 0px !important; background-color:rgba(255,255,255,1.00) !important; font-family:'Montserrat', sans-serif !important; text-transform:uppercase !important}.eg-herbert-hoover-element-8:hover{font-size:22px !important; line-height:7px !important; color:#4672b3 !important; font-weight:400 !important; border-radius:60px 60px 60px 60px !important; background-color:rgba(255,255,255,0) !important; border-top-width:2px !important; border-right-width:2px !important; border-bottom-width:2px !important; border-left-width:2px !important; border-color:#ffffff !important; border-style:solid !important}.eg-herbert-hoover-element-9:hover{font-size:22px !important; line-height:7px !important; color:#099bcc !important; font-weight:400 !important; border-radius:60px 60px 60px 60px !important; background-color:rgba(255,255,255,0) !important; border-top-width:2px !important; border-right-width:2px !important; border-bottom-width:2px !important; border-left-width:2px !important; border-color:#ffffff !important; border-style:solid !important}.eg-herbert-hoover-element-2:hover{font-size:22px !important; line-height:7px !important; color:#da4a38 !important; font-weight:400 !important; border-radius:60px 60px 60px 60px !important; background-color:rgba(255,255,255,0) !important; border-top-width:2px !important; border-right-width:2px !important; border-bottom-width:2px !important; border-left-width:2px !important; border-color:#ffffff !important; border-style:solid !important}.eg-herbert-hoover-element-10:hover{font-size:22px !important; line-height:7px !important; color:#c32524 !important; font-weight:400 !important; border-radius:60px 60px 60px 60px !important; background-color:rgba(255,255,255,0) !important; border-top-width:2px !important; border-right-width:2px !important; border-bottom-width:2px !important; border-left-width:2px !important; border-color:#ffffff !important; border-style:solid !important}
					
					
					
					
					.ozy-page-model-no-sidebar.ozy-page-model-full #main > .container {
    width: 100%;
}
#main, .main-bg-color {
    background-color: transparent;
}

#page-footer .inner .footer-bottom {
    margin-top: 0;
    padding: 0;
    background-color: #4A4A4A;
    border: none;
}


#page-footer .inner .footer-bottom .to-top:hover {
    cursor: pointer;
}
#page-footer .inner .footer-bottom .to-top i {
    color: #ED217C;
    left: 0px;
    position: relative;
}
#page-footer .item-horizontal {
    border: none;
    margin-bottom: 40px;
    padding: 0;
}
#page-footer .item-horizontal:last-child {
    border-bottom: none;
}
#page-footer .review {
    margin-bottom: 40px;
}
#page-footer .review:last-child {
    border-bottom: none;
}
#page-footer .review p {
    margin-top: 20px;
}
#page-footer .review .info {
    margin-top: 5px;
}
#page-footer .review .info .rating {
    float: left;
}
#page-footer .review .info .type {
    margin: 3px;
}
#page-footer .social {
    margin-bottom: 20px;
    margin-top: 10px;
}
#page-footer .social a {
    display: inline-block;
    margin-bottom: 0;
}
#page-footer .social a i {
    color: #474747;
    margin-right: 5px;
}
.footer-bottom h2 {
    color: #fff;
    text-transform: capitalize;
    font-size: 25px;
    font-weight: normal;
}
.footer-bottom ul {
    padding: 0;
    list-style: none;
    margin: 0;
}
.footer-bottom ul li a {
    color: #fff;
    text-decoration: none;
}
.footer-bottom ul li a:hover {
    color:#ED217C;
}
.social-button i {
    -moz-transition: 0.4s;
    -webkit-transition: 0.4s;
    transition: 0.4s;
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    border: 2px solid rgba(0, 0, 0, 0.1);
    color: #ED217C;
    height: 30px;
    margin-right: 10px;
    vertical-align: middle;
    text-align: center;
    line-height: 27px;
    width: 30px;
    position: relative;
    top: 0;
}
#page-footer .social a i {
    color: #fff;
    margin-right: 5px;
    border-color: #fff;
    border-radius: 0;
}

.footer-bottom ul li a.join_cut {
    margin-top: 25px;
    padding: 5px 20px;
    background-color: #ED217C;
    border: none;
    border-radius: 0;
	    font-size: 12px;
}
.footer-bottom ul li a.join_cut:hover,.footer-bottom ul li a.join_cut:focus,.footer-bottom ul li a.join_cut:active {
    color: #fff;
    opacity: 0.8;
}

.tnc {
    margin-top: 50px;
}
.footer-bottom .tnc h2 {
    font-size: 18px;
}

.newsletter {
    margin: auto;
    position: relative;
}
.mail-news {
    border: none;
    border-radius: 0;
    height: 40px;
    width: 100%;
    padding: 10px 9px 9px;
}
.btn12 {
    background: #e51a7d none repeat scroll 0 0;
    border: 0 none;
    border-radius: 7px;
    color: #fff;
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    right: 4px;
    text-transform: capitalize;
    top: 4px;
    z-index: 999;
    height: auto;
    padding: 5px 12px;
}

.footer-bottom .tnc p {
    color: #fff;
    opacity: 1;
    margin-top: 15px;
    text-align: right;
}
.btn12.btn-default:hover, .btn12.btn-default:focus, .btn12.btn-default:active {
    background: #ED217C;
    opacity: 0.8;
    outline: none;
	color:#fff;
}
.footer-bottom .tnc a.Conditions {
    color: #fff;
    line-height: 27px;
}
a {
    text-decoration: none !important;
}

.esg-container {
    width: 85%;
    margin: 0 auto;
}
ul.post-categories {
    margin: 0;
    padding: 0;
}
ul.post-categories li a {
    font-family: 'Montserrat', sans-serif;
}

.esg-filter-wrapper {
    display: inline-block;
    width: 100%;
}
.text-light .esg-filterbutton {
    width: 100%;
    border: none;
}
.esg-grid li {
    font-size: 16px;
    margin-top: 10px;
}
.esg-grid li ul {
    padding: 0;
    margin: 20px 0 0;
}
.esg-grid li ul li:first-child {
    padding: 0;
}
.esg-grid li ul li {
    padding-left: 15px;
    display: inline-block;
    margin-top: 0;
}

.esg-grid {
    margin: 0 auto;
    width: 85%;
}
#content .esg-grid li ul li:first-child a {
    border: none;
    padding-left: 0;
}
#content .esg-grid li ul li a {
    font-size: 15px;
    border-left: 1px solid #e5e5e5;
    padding-left: 20px;
    color: #444;
}
#content .esg-grid li ul li a:hover {
    color: #999;
}
#content .esg-grid li ul.post-categories li a {
    border: none;
    padding: 0;
    color: #c4a26c;
}
/* #content .esg-grid li ul.post-categories li {
    padding: 0;
} */
.hupso_c > div > a {
    padding-left: 20px;
}
.hupso_c > div > a:first-child {
    padding: 0;
}
.main-banner {
    position: relative;
}
.main-banner img {
    width: 100%;
}
.main-banner .single-banner-text {
    position: absolute;
    top: 40%;
    left: 0;
    right: 0;
    width: 100%;
    text-align: center;
    z-index: 999;
}
.main-banner .single-banner-text img.avatar.avatar-49.photo {
    display: none;
}
#content .main-banner .single-banner-text h1.entry-title {
    font-size: 30px;
    color: #fff;
}
#content .main-banner .single-banner-text footer.entry-footer {
    color: #fff;
    font-size: 18px;
    margin-top: 22px;
}
#content .main-banner .single-banner-text footer.entry-footer a {
    color: #fff;
}
.main-banner:after {
    content: "";
    background: rgba(243,51,55,.4);
    position: absolute;
    left: 0;
    right: 0;
    height: 100%;
    top: 0;
    width: 100%;
}
.single-post-content {
    padding-top: 25px;
}

.single-post-content p {
    line-height: 30px;
    padding-top: .50em;
    margin: 0;
    padding-bottom: .50em;
    color: #000;
    font-size: 14px;
}
#content .comment-block h2 {
    font-weight: normal;
}
#content .comment-block label {
    vertical-align: top;
    width: 117px;
}
#content .comment-block textarea {
    width: 100%;
    resize: none;
    padding: 6px 12px;
    border-width: 1px;
}
#content .comment-block input {
    width: 100%;
    border-width: 1px;
    padding: 6px 12px;
    height: 42px;
	    border: 1px solid #ccc !important;
}
#content .comment-block p.form-submit input#submit {
    width: auto;
    float: right;
    border: none !important;
    background: #f70001;
    font-size: 15px;
}
nav.navigation.post-navigation {
    margin: 0 auto 65px;
    max-width: 100%;
    text-align: center;
}
nav.navigation.post-navigation h2.screen-reader-text {
    text-align: center;
    margin-bottom: 25px;
}
nav.navigation.post-navigation .nav-links {
    text-align: center;
    display: inline-block;
    width: 100%;
}
nav.navigation.post-navigation .nav-previous {
    display: inline-block;
}
nav.navigation.post-navigation .nav-links .nav-next {
    display: inline-block;
    padding-left: 10px;
}
nav.navigation.post-navigation span.meta-nav {
    display: inline;
    padding: 6px 12px;
    color: #fff;
       background: #666666;
    font-size: 15px;
}
.nav-previous a span {
    background: #f70001 !important;
}
nav.navigation.post-navigation span {
    display: none;
}
nav.navigation.post-navigation span.meta-nav:hover {
    opacity: 0.8;
}
.esg-grid.blog_cat {
    margin: 50px auto;
    text-align: center;
}
.esg-grid.blog_cat li.categories a {
    font-weight: 600;
}
.esg-grid.cat_post_page img {
    max-width: 100%;
}
.esg-grid.cat_post_page .entry-content p {
    color: #555555;
    font-size: 15px;
    line-height: 22px;
    font-weight: 400;
    font-family: 'Montserrat', sans-serif;
}

.esg-grid.cat_post_page {
    margin: 0 auto 30px;
    width: 70%;
}

.page-header {
    text-align: center;
    margin-top: 0;
}
.page-header h1.page-title {
    margin-top: 0;
}
.esg-grid.cat_post_page .esg-entry-content.eg-herbert-hoover-content {
    border: 1px solid #e5e5e5;
    padding: 30px 30px 30px 30px;
    background: #ffffff;
}
.esg-grid.cat_post_page .esg-entry-content.eg-herbert-hoover-content h2.entry-title {
    margin-top: 0;
}
#content .esg-grid.cat_post_page .esg-entry-content.eg-herbert-hoover-content h2.entry-title a {
    color: #000;
    font-size: 28px;
    font-style: normal;
    font-family: 'Montserrat', sans-serif;
}

.esg-grid.cat_post_page ul.post-categories li {
    display: inline-block;
    padding-left: 15px;
}
.esg-grid.cat_post_page ul.post-categories li a {
    text-transform: uppercase;
    font-weight: 600;
}
.single-post-meta-content .single-post-category {
  display: inline-block;
  vertical-align: middle;
}
.single-post-meta-content .single-post-category .post-categories {
  display: inline-block;
  width: 100%;
}
.single-post-meta-content .single-post-date {
  display: inline-block;
      vertical-align: middle;
}
.single-post-meta-content .single-post-category .post-categories li {
  display: inline-block;
      vertical-align: middle;
}
.single-post-meta-content .single-post-author {
  display: inline-block;
      vertical-align: middle;
}

.single-post-content {
    padding-top: 25px;
    margin: 0 auto;
    width: 70%;
    text-align: left;
}

header.comment-block {
    margin: 0 auto;
    max-width: 70%;
}
.esg-grid.cat_post_page .esg-entry-content1.eg-herbert-hoover-content1 ul.post-categories li {
    padding: 0;
}




@media (max-width:1024px){
	.main-banner img {
    height: auto;
}
}


	
@media (max-width:767px){
.esg-container {
    width: 100%;
}	
.esg-grid {
    margin: 0 auto;
    width: 100%;
	 padding: 0 !important
}
.esg-grid ul {
    margin: 0;
    padding: 0;
}
#content .comment-block textarea {
    width: 100%;
}
#content .comment-block input {
    width: 100%;
}
nav.navigation.post-navigation .nav-links {
    text-align: right;
   
    margin: 0 auto;
    width: 100%;
    margin: 0 auto;
    max-width: 67%;
}

}

@media (max-width:568px){
	header.comment-block {
    max-width: 100%;
}
	.single-post-content {
    width: 100%;
}
}
	
	
@media (max-width:480px){
.main-banner .single-banner-text {
    top: 50px;
}
#content .main-banner .single-banner-text h1.entry-title {
    font-size: 25px;
}
#content .esg-grid.cat_post_page .esg-entry-content.eg-herbert-hoover-content h2.entry-title {
    font-size: 25px;
    line-height: normal;
}
#content .esg-grid.cat_post_page .esg-entry-content.eg-herbert-hoover-content h2.entry-title a {
    font-size: 22px;
}
.esg-grid.cat_post_page .esg-entry-content.eg-herbert-hoover-content {
    padding: 25px;
}
}

@media (max-width:375px){
		.main-banner .single-banner-text {
    top: 25px;
}
#content .main-banner .single-banner-text h1.entry-title {
    font-size: 22px;
}
.hupso_c > div > a {
    padding-left: 15px;
}
.post-content.page-content .parallax-wrapper h2 {
    font-size: 30px !important;
    line-height: normal !important;
}
nav.navigation.post-navigation .nav-links {
      text-align: end;
    float: right;
    margin-right: 15px;
}
}
	
@media (max-width:320px){

#content .main-banner .single-banner-text h1.entry-title {
    font-size: 18px;
}
}


.event {
  float: left;
  padding-top: 10px;
  width: 100%;
}

.widget .socials li>a:hover {
    color: #fff!important;
    background: #ff6060 none repeat scroll 0 0;
}


/*************  17 march********************/

.hupso-share-buttons {
   background: transparent;
}
.brand {
    display: block;
    text-align: left;
    opacity: 1;
}

.single-post-content span.all-blog {
    text-align: center;
    width: 100%;
    display: inline-block;
    font-size: 22px;
}
.comment-respond {
    text-align: left;
}
span.required {
    color: #f33337;
}


/*************  end march********************/





























