.esg-starring	{	line-height:25px;display: inline-block}
.esg-starring .star-rating{	float: none; }

.esg-starring .star-rating {
color: #FFC321 !important;
}

.esg-starring .star-rating, .esg-starring-page .star-rating {
float: right;
overflow: hidden;
position: relative;
height: 1em;
line-height: 1em;
font-size: 1em;
width: 5.4em;
font-family: star;
}

.esg-starring .star-rating:before, .esg-starring-page .star-rating:before {
content: "\73\73\73\73\73";
color: #E0DADF;
float: left;
top: 0;
left: 0;
position: absolute;
}

.esg-starring star-rating span,
.esg-starring .star-rating span {
									overflow: hidden;
									float: left;
									top: 0;
									left: 0;
									position: absolute;
									padding-top: 1.5em;
									}

.esg-starring .star-rating span:before,
.esg-starring .star-rating span:before {
content: "\53\53\53\53\53";
top: 0;
position: absolute;
left: 0;
}

.esg-starring .star-rating {
color: #FFC321 !important;
}


.esg-starring .star-rating, .esg-starring-page .star-rating {
line-height: 1em;
font-size: 1em;
font-family: star;
}

.esg-grid	{	width:100%;max-width:100%; font-family: 'Open Sans', sans-serif; -webkit-backface-visibility: hidden; backface-visibility:hidden; -webkit-transform: translateZ(0px); transform: translateZ(0px)}
@-moz-document url-prefix() {
  .esg-grid  { transform: none !important}
}

.esg-grid .mainul,
.esg-grid .mainul>li { list-style: none;
	margin:0;
	padding:0;
	transform-style: flat !important;}



.esg-grid * { -webkit-font-smoothing:antialiased; font-smoothing: antialiased;}
.esg-container ul,
.esg-container li {
	list-style: none;
	margin:0;
	padding:0;
	transform-style: flat !important;

}

.esg-overflowtrick	{	position: relative; width:100%; height:auto;
						overflow:hidden;
						padding:0px; box-sizing:border-box;
						-moz-box-sizing:border-box;
						-webkit-box-sizing:border-box;

						z-index:1;
						/*background:#00ff00;*/
					}

.esg-container	{
		position:relative;
		width:100%;
		height:auto;

}

.esg-container >ul,
.esg-overflowtrick >ul {
	width:100%;
	max-width:100%;
	height:0px;
/*	display:none;*/
	position: relative;
	overflow: visible;
/*	background:#ff0000;
	padding:30px;
	margin:-30px;*/
}

.esg-grid li {
		 border: 0px solid transparent;
         outline: 0px solid transparent;
		 display: block;
		
         
	/*	 -moz-backface-visibility: hidden;*/




}

.esg-clear				{	clear:both; height:5px !important; background: none !important; }
.esg-clear-no-height,
.eg-clearfix			{	clear:both; height:0px !important; background: none !important; }


.esg-divide-5	{	width:100%;height:5px}
.esg-divide-15	{	width:100%;height:15px}
.esg-divide-20	{	width:100%;height:20px}
.esg-divide-22	{	width:100%;height:22px}
.esg-divide-30	{	width:100%;height:30px}

.esg-click-to-play-video	{	cursor: pointer}

.esg-entry-media iframe		{	-webkit-transform-style: flat;
								-webkit-transform: translateZ(1000px);
							}

/******************************
	-	THE ESG ITEMS	-
********************************/

.esg-container .tp-esg-item					{ 	position:absolute; top:0px;left:0px; }


.esg-container .tp-esg-item					{	box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.esg-container .tp-esg-item .blackoverlay	{	width:100%;height:100%;position: absolute;background:#000; top:0px;left:0px;}



.tp-esg-item					{	z-index:5 }
.tp-esg-item.itemonotherpage	{	z-index:0; display:none;}


/******************************
	-	ESG ITEM POSITIONS	-
********************************/

.esg-entry-cover		{	box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;
							width:100%;height:auto;position:absolute;top:0px;left:0px;overflow: hidden;
							border: 0px solid transparent;
							outline: 0px solid transparent;
						}

.eec					{	display:block; width:auto; height:auto;position:absolute !important;  font-size:20px;text-align:center; }

/* CONTAINERS */
.esg-tc 			{	top:0px; left:0px; width:100%;}
.esg-lc 			{	top:0px;left:0px; height:100%;}
.esg-cc 			{	top:0px;left:0px; width:100%; vertical-align: middle;}
.esg-rc 			{	top:0px;right:0px; height:100%;}
.esg-bc 			{	bottom:0px;left:0px; width:100%;}


/* TOP CONTAINERS */

.esg-tc .ess-tb-cell			{	text-align:center; vertical-align: top; }


/* CENTER CONTAINERS */
.esg-lc .ess-tb-cell			{	text-align:left; vertical-align: middle;}
.esg-cc .ess-tb-cell			{	}
.esg-rc .ess-tb-cell			{	text-align:right; vertical-align: middle;}

/* RIGHT CONTAINERS */
.esg-blc .ess-tb-cell			{	text-align:left; vertical-align: bottom;}
.esg-bc .ess-tb-cell			{	text-align:center; vertical-align: bottom;}
.esg-brc .ess-tb-cell			{	text-align:right; vertical-align: bottom;}

.esg-bc .leftalign	{	text-align:left;}


/******************************
	-	ESG MEDIA	-
********************************/

.esg-entry-media							{	position:relative; border: 0px solid transparent;outline: 0px solid transparent;overflow: hidden;
											}

.esg-entry-media							{	width:100%;}
.esg-entry-media img						{	width:100%; height:auto; max-width:none !important; min-width:none !important}

.esg-layout-masonry .esg-entry-media img	{
	line-height: 0px;
	vertical-align: bottom;
	display: inline-block;

}


.esg-layout-even .esg-entry-media,
.esg-layout-even .esg-entry-media img		{	height:100%;}


.esg-layout-even .esg-entry-media img		{	display:none}


.esg-media-cover-wrapper					{	position: relative; width:100%;}
.esg-layout-even .esg-media-cover-wrapper	{	height:100%;}

.esg-entry-media-wrapper					{	z-index: 0; }
.esg-entry-media-wrapper .esg-video-frame	{ 	background: #000;}


/**********************************
	-	ESG COVER CONTAINER	-
**********************************/


.esg-entry-cover .esg-overlay						{	position: absolute; top:0px;left:0px; width:100%; height:auto; border: 0px solid transparent;
         												outline: 0px solid transparent;}
/******************************
	-	ESG CONTNER PART	-
********************************/


.esg-layout-even .esg-entry-content					{	display:none; }


.esg-entry-content									{
														box-sizing:border-box;
														-moz-box-sizing:border-box;
														-webkit-box-sizing:border-box;
														-webkit-backface-visibility: hidden;

													}



/******************************
	-	NAVIGATION SKINS	-
********************************/

.navigationbuttons,
.esg-pagination,
.esg-filters	{	position: relative; z-index:50; -webkit-backface-visibility:hidden;}

.esg-sortbutton-order.eg-icon-down-open.tp-asc { text-align: center}
.esg-sortbutton-order .tp-desc	{	text-align: center}

/******************************
	-	FILTER BUTTONS 	-
	-	NAVIGATION BUTTONS	-
********************************/

.esg-singlefilters .esg-filter-checked	{	display: none; -webkit-backface-visibility:hidden;}

.esg-filter-wrapper		{	 display:inline-block; }
.esg-sortbutton-wrapper	{	 display:inline-block; }
.esg-cartbutton-wrapper	{	 display:inline-block  }

/* DROP DOWN STYLE FOR ESSENTIAL GRID */
.esg-filter-wrapper.dropdownstyle					{	min-width:100px;cursor: pointer; position: relative; z-index:1500; -webkit-backface-visibility: hidden; -webkit-transform: translateZ(1px);transform:translateZ(1px)}
.esg-filter-wrapper.dropdownstyle .esg-filterbutton	{	display:block;}
.esg-dropdown-wrapper								{	display:none; position: absolute; background:#fff; padding:20px;top:100%; -webkit-backface-visibility: hidden;
-webkit-transform: translateZ(10px);}

.esg-selected-filterbutton							{	color: #999;
														margin-right: 5px;
														cursor: pointer;
														padding: 0px 15px 0px 10px;
														line-height: 20px;
														font-size: 12px;
														font-weight: 600;
														font-family: "Open Sans",sans-serif;
														display: inline-block;
														background: rgba(0, 0, 0, 0);
														margin-bottom: 5px;
													}
.esg-selected-filterbutton:hover					{ color: #444;}

.esg-selected-filterbutton .eg-icon-down-open		{	display: inline-block;
														vertical-align: middle;
														width: 29px;
														line-height: 20px;
														font-size: 9px;
														font-weight: 700;
														color: #999;
														cursor: pointer;
														background: rgba(0, 0, 0, 0);}



/** SAME SETTINGS FOR ALL SKIN **/
.esg-sortbutton-order.tp-desc					{	-moz-transform: scaleY(-1);
												        -o-transform: scaleY(-1);
												        -webkit-transform: scaleY(-1);
												        transform: scaleY(-1);
												        filter: FlipV;
												        -ms-filter: "FlipV";}

.esg-sorting-select							{	cursor: pointer;position:absolute;top:0px;left:0px;width:100%;height:100%;  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
													    filter: alpha(opacity=0);
													    -moz-opacity: 0.0;
													    -khtml-opacity: 0.0;
													    opacity: 0.0;
													    -webkit-appearance: menulist-button;
											}

.esg-filters.esg-navbutton-solo-left		{	position:absolute;left:0px;top:50%; z-index: 800}
.esg-filters.esg-navbutton-solo-right		{	position:absolute;right:0px;top:50%; z-index: 800;}

.esg-navigationbutton.esg-right,
.esg-navigationbutton.esg-left				{	margin-left:0px !important; margin-right:0px !important; -webkit-transform-style: flat; -webkit-transform: translateZ(5000px);}


/*************************************************
	-	LET / RIGHT WIDGET AREA CONTAINERS	-
**************************************************/

.eg-leftright-container				{	float:left; width:310px; margin-right:20px; box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box; position: relative;}
.eg-leftright-container.dark		{	background:#1e1e1e}
.eg-leftright-container .pagination {	position:absolute;bottom:0px;}

.eg-leftright-container .esg-filters		{	padding:30px; box-sizing:border-box;-moz-box-sizing:border-box;-webkit-box-sizing:border-box;}
.eg-leftright-container .esg-filterbutton	{	display:block; margin:0px 0px 5px 0px}
.eg-leftright-container .esg-filter-wrapper	{	 display:block; margin-right:0px;}


/***********************************
	-	AJAX TARGET CONTAINER	-
************************************/

.eg-ajaxtarget-container	{	position:relative; width:100%;height:auto;}

/******************************
	-	LOADER FORMS	-
********************************/

.tp-esg-item .add_to_cart_button.loading:before {	content: "";
											position: absolute;
											top: 0;
											right: 0;
											left: 0;
											bottom: 0;
											background: url(../images/ajax-loader.gif) center no-repeat rgba(255, 255, 255, 0.65);
										 }

.esg-loader 	{
				top:50%; left:50%;
				z-index:10000;
				position:absolute;


			}

.esg-loader.spinner0 {
  width: 40px;
  height: 40px;
  background:url(../images/loader.gif) no-repeat center center;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);

  margin-left:-20px;
  -webkit-animation: esg-rotateplane 1.2s infinite ease-in-out;
  animation: esg-rotateplane 1.2s infinite ease-in-out;
  border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}


.esg-loader.spinner1 {
  width: 40px;
  height: 40px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);

  margin-left:-20px;
  -webkit-animation: esg-rotateplane 1.2s infinite ease-in-out;
  animation: esg-rotateplane 1.2s infinite ease-in-out;
  border-radius: 3px;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
}



.esg-loader.spinner5 	{	background:url(../images/loader.gif) no-repeat 10px 10px;
							background-color:#fff;
							margin:-22px -22px;
							width:44px;height:44px;
							border-radius: 3px;
							-moz-border-radius: 3px;
							-webkit-border-radius: 3px;
						}


@-webkit-keyframes esg-rotateplane {
  0% { -webkit-transform: perspective(120px) }
  50% { -webkit-transform: perspective(120px) rotateY(180deg) }
  100% { -webkit-transform: perspective(120px) rotateY(180deg)  rotateX(180deg) }
}

@keyframes esg-rotateplane {
  0% {
    transform: perspective(120px) rotateX(0deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
  } 50% {
    transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
    -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
  } 100% {
    transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
  }
}


.esg-loader.spinner2 {
  width: 40px;
  height: 40px;
  margin-left:-20px;
  background-color: #ff0000;
   box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
  border-radius: 100%;
  -webkit-animation: esg-scaleout 1.0s infinite ease-in-out;
  animation: esg-scaleout 1.0s infinite ease-in-out;
}

@-webkit-keyframes esg-scaleout {
  0% { -webkit-transform: scale(0.0) }
  100% {
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}

@keyframes esg-scaleout {
  0% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 100% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
    opacity: 0;
  }
}




.esg-loader.spinner3 {
  margin: -9px 0px 0px -35px;
  width: 70px;
  text-align: center;
}

.eg-search-wrapper .esg-loader.spinner3					{	margin-top:-30px !important}
.simple-light .eg-search-wrapper .esg-loader.spinner3,
.simple-dark .eg-search-wrapper .esg-loader.spinner3	{	margin-top:-25px !important}

.text-light .eg-search-wrapper .esg-loader.spinner3,
.text-dark .eg-search-wrapper .esg-loader.spinner3	{	margin-top:-22px !important}

.esg-loader.spinner3 .bounce1,
.esg-loader.spinner3 .bounce2,
.esg-loader.spinner3 .bounce3 {
  width: 18px;
  height: 18px;
  background-color: #fff;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
  border-radius: 100%;
  display: inline-block;
  -webkit-animation: esg-bouncedelay 1.4s infinite ease-in-out;
  animation: esg-bouncedelay 1.4s infinite ease-in-out;
  /* Prevent first frame from flickering when animation starts */
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}

.esg-loader.spinner3 .bounce1 {
  -webkit-animation-delay: -0.32s;
  animation-delay: -0.32s;
}

.esg-loader.spinner3 .bounce2 {
  -webkit-animation-delay: -0.16s;
  animation-delay: -0.16s;
}

@-webkit-keyframes esg-bouncedelay {
  0%, 80%, 100% { -webkit-transform: scale(0.0) }
  40% { -webkit-transform: scale(1.0) }
}

@keyframes esg-bouncedelay {
  0%, 80%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 40% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}




.esg-loader.spinner4 {
  margin: 0px 0px 0px -20px;
  width: 40px;
  height: 40px;
  text-align: center;
  -webkit-animation: esg-rotate 2.0s infinite linear;
  animation: esg-rotate 2.0s infinite linear;
}

.esg-loader.spinner4 .dot1,
.esg-loader.spinner4 .dot2 {
  width: 60%;
  height: 60%;
  display: inline-block;
  position: absolute;
  top: 0;
  background-color: #fff;
  border-radius: 100%;
  -webkit-animation: esg-bounce 2.0s infinite ease-in-out;
  animation: esg-bounce 2.0s infinite ease-in-out;
  box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
  -webkit-box-shadow: 0px 0px 20px 0px rgba(0,0,0,0.15);
}

.esg-loader.spinner4 .dot2 {
  top: auto;
  bottom: 0px;
  -webkit-animation-delay: -1.0s;
  animation-delay: -1.0s;
}

@-webkit-keyframes esg-rotate { 100% { -webkit-transform: rotate(360deg) }}
@keyframes esg-rotate { 100% { transform: rotate(360deg); -webkit-transform: rotate(360deg) }}

@-webkit-keyframes esg-bounce {
  0%, 100% { -webkit-transform: scale(0.0) }
  50% { -webkit-transform: scale(1.0) }
}

@keyframes esg-bounce {
  0%, 100% {
    transform: scale(0.0);
    -webkit-transform: scale(0.0);
  } 50% {
    transform: scale(1.0);
    -webkit-transform: scale(1.0);
  }
}



/****************************
* Fontello Icons
****************************/
@font-face {
 font-family: 'eg-font';
  src: url('../font/egfont.eot?85610117');
  src: url('../font/egfont.eot?85610117#iefix') format('embedded-opentype'),
       url('../font/egfont.woff?85610117') format('woff'),
       url('../font/egfont.ttf?85610117') format('truetype'),
       url('../font/egfont.svg?85610117#egfont') format('svg');
  font-weight: normal;
  font-style: normal;

}

[class^="eg-icon-"]:before, [class*=" eg-icon-"]:before {
	font-family: "eg-font";
	font-style: normal;
	font-weight: normal;
	speak: none;

	display: inline-block;
	text-decoration: inherit;
	width: 1em;
	margin-right: .2em;
	text-align: center;
	/* opacity: .8; */

	/* For safety - reset parent styles, that can break glyph codes*/
	font-variant: normal;
	text-transform: none;

	/* fix buttons height, for twitter bootstrap */
	line-height: 1em;

	/* Animation center compensation - margins should be symmetric */
	/* remove if not needed */
	margin-left: .2em;

	/* you can be more comfortable with increased icons size */
	/* font-size: 120%; */

	/* Uncomment for 3D effect */
	/* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.eg-icon-soundcloud:before { content: '\e8ca'; } /* 'î£Š' */
.eg-icon-music:before { content: '\e858'; } /* 'î¡˜' */
.eg-icon-color-adjust:before { content: '\e862'; } /* 'î¡¢' */
.eg-icon-mail:before { content: '\e868'; } /* 'î¡¨' */
.eg-icon-mail-alt:before { content: '\e869'; } /* 'î¡©' */
.eg-icon-heart:before { content: '\e86a'; } /* 'î¡ª' */
.eg-icon-heart-empty:before { content: '\e86b'; } /* 'î¡«' */
.eg-icon-star:before { content: '\e86c'; } /* 'î¡¬' */
.eg-icon-star-empty:before { content: '\e86d'; } /* 'î¡­' */
.eg-icon-user:before { content: '\e879'; } /* 'î¡¹' */
.eg-icon-male:before { content: '\e87a'; } /* 'î¡º' */
.eg-icon-female:before { content: '\e87b'; } /* 'î¡»' */
.eg-icon-video:before { content: '\e805'; } /* 'î …' */
.eg-icon-videocam:before { content: '\e859'; } /* 'î¡™' */
.eg-icon-picture-1:before { content: '\e803'; } /* 'î ƒ' */
.eg-icon-camera:before { content: '\e85a'; } /* 'î¡š' */
.eg-icon-camera-alt:before { content: '\e85b'; } /* 'î¡›' */
.eg-icon-th-large:before { content: '\e83c'; } /* 'î ¼' */
.eg-icon-th:before { content: '\e83d'; } /* 'î ½' */
.eg-icon-ok:before { content: '\e80d'; } /* 'î ' */
.eg-icon-ok-circled2:before { content: '\e877'; } /* 'î¡·' */
.eg-icon-ok-squared:before { content: '\e878'; } /* 'î¡¸' */
.eg-icon-cancel:before { content: '\e80a'; } /* 'î Š' */
.eg-icon-plus:before { content: '\e86e'; } /* 'î¡®' */
.eg-icon-plus-circled:before { content: '\e876'; } /* 'î¡¶' */
.eg-icon-plus-squared:before { content: '\e875'; } /* 'î¡µ' */
.eg-icon-minus:before { content: '\e86f'; } /* 'î¡¯' */
.eg-icon-minus-circled:before { content: '\e870'; } /* 'î¡°' */
.eg-icon-minus-squared:before { content: '\e871'; } /* 'î¡±' */
.eg-icon-minus-squared-alt:before { content: '\e872'; } /* 'î¡²' */
.eg-icon-info-circled:before { content: '\e80f'; } /* 'î ' */
.eg-icon-info:before { content: '\e844'; } /* 'î¡„' */
.eg-icon-home:before { content: '\e843'; } /* 'î¡ƒ' */
.eg-icon-link:before { content: '\e80e'; } /* 'î Ž' */
.eg-icon-unlink:before { content: '\e83f'; } /* 'î ¿' */
.eg-icon-link-ext:before { content: '\e840'; } /* 'î¡€' */
.eg-icon-lock:before { content: '\e856'; } /* 'î¡–' */
.eg-icon-lock-open:before { content: '\e857'; } /* 'î¡—' */
.eg-icon-eye:before { content: '\e841'; } /* 'î¡' */
.eg-icon-eye-off:before { content: '\e842'; } /* 'î¡‚' */
.eg-icon-tag:before { content: '\e85c'; } /* 'î¡œ' */
.eg-icon-thumbs-up:before { content: '\e887'; } /* 'î¢‡' */
.eg-icon-thumbs-up-alt:before { content: '\e888'; } /* 'î¢ˆ' */
.eg-icon-download:before { content: '\e88a'; } /* 'î¢Š' */
.eg-icon-upload:before { content: '\e889'; } /* 'î¢‰' */
.eg-icon-reply:before { content: '\e8a6'; } /* 'î¢¦' */
.eg-icon-forward:before { content: '\e874'; } /* 'î¡´' */
.eg-icon-export-1:before { content: '\e873'; } /* 'î¡³' */
.eg-icon-print:before { content: '\e886'; } /* 'î¢†' */
.eg-icon-gamepad:before { content: '\e837'; } /* 'î ·' */
.eg-icon-trash:before { content: '\e801'; } /* 'î ' */
.eg-icon-doc-text:before { content: '\e885'; } /* 'î¢…' */
.eg-icon-doc-inv:before { content: '\e884'; } /* 'î¢„' */
.eg-icon-folder-1:before { content: '\e83e'; } /* 'î ¾' */
.eg-icon-folder-open:before { content: '\e883'; } /* 'î¢ƒ' */
.eg-icon-folder-open-empty:before { content: '\e882'; } /* 'î¢‚' */
.eg-icon-rss:before { content: '\e880'; } /* 'î¢€' */
.eg-icon-rss-squared:before { content: '\e881'; } /* 'î¢' */
.eg-icon-phone:before { content: '\e87f'; } /* 'î¡¿' */
.eg-icon-menu:before { content: '\e830'; } /* 'î °' */
.eg-icon-cog-alt:before { content: '\e847'; } /* 'î¡‡' */
.eg-icon-wrench:before { content: '\e848'; } /* 'î¡ˆ' */
.eg-icon-basket-1:before { content: '\e87c'; } /* 'î¡¼' */
.eg-icon-calendar:before { content: '\e87d'; } /* 'î¡½' */
.eg-icon-calendar-empty:before { content: '\e87e'; } /* 'î¡¾' */
.eg-icon-lightbulb:before { content: '\e88b'; } /* 'î¢‹' */
.eg-icon-resize-full-alt:before { content: '\e845'; } /* 'î¡…' */
.eg-icon-move:before { content: '\e846'; } /* 'î¡†' */
.eg-icon-down-dir:before { content: '\e838'; } /* 'î ¸' */
.eg-icon-up-dir:before { content: '\e839'; } /* 'î ¹' */
.eg-icon-left-dir:before { content: '\e817'; } /* 'î —' */
.eg-icon-right-dir:before { content: '\e818'; } /* 'î ˜' */
.eg-icon-down-open:before { content: '\e83b'; } /* 'î »' */
.eg-icon-left-open:before { content: '\e819'; } /* 'î ™' */
.eg-icon-right-open:before { content: '\e81a'; } /* 'î š' */
.eg-icon-angle-left:before { content: '\e820'; } /* 'î  ' */
.eg-icon-angle-right:before { content: '\e81d'; } /* 'î ' */
.eg-icon-angle-double-left:before { content: '\e892'; } /* 'î¢’' */
.eg-icon-angle-double-right:before { content: '\e893'; } /* 'î¢“' */
.eg-icon-left-big:before { content: '\e81f'; } /* 'î Ÿ' */
.eg-icon-right-big:before { content: '\e81e'; } /* 'î ž' */
.eg-icon-up-hand:before { content: '\e835'; } /* 'î µ' */
.eg-icon-ccw-1:before { content: '\e891'; } /* 'î¢‘' */
.eg-icon-shuffle-1:before { content: '\e849'; } /* 'î¡‰' */
.eg-icon-play:before { content: '\e88c'; } /* 'î¢Œ' */
.eg-icon-play-circled:before { content: '\e88e'; } /* 'î¢Ž' */
.eg-icon-stop:before { content: '\e88f'; } /* 'î¢' */
.eg-icon-pause:before { content: '\e88d'; } /* 'î¢' */
.eg-icon-fast-fw:before { content: '\e890'; } /* 'î¢' */
.eg-icon-desktop:before { content: '\e85d'; } /* 'î¡' */
.eg-icon-laptop:before { content: '\e85e'; } /* 'î¡ž' */
.eg-icon-tablet:before { content: '\e85f'; } /* 'î¡Ÿ' */
.eg-icon-mobile:before { content: '\e860'; } /* 'î¡ ' */
.eg-icon-flight:before { content: '\e894'; } /* 'î¢”' */
.eg-icon-font:before { content: '\e851'; } /* 'î¡‘' */
.eg-icon-bold:before { content: '\e852'; } /* 'î¡’' */
.eg-icon-italic:before { content: '\e855'; } /* 'î¡•' */
.eg-icon-text-height:before { content: '\e84f'; } /* 'î¡' */
.eg-icon-text-width:before { content: '\e850'; } /* 'î¡' */
.eg-icon-align-left:before { content: '\e84c'; } /* 'î¡Œ' */
.eg-icon-align-center:before { content: '\e84d'; } /* 'î¡' */
.eg-icon-align-right:before { content: '\e84e'; } /* 'î¡Ž' */
.eg-icon-search:before { content: '\e802'; } /* 'î ‚' */
.eg-icon-indent-left:before { content: '\e866'; } /* 'î¡¦' */
.eg-icon-indent-right:before { content: '\e867'; } /* 'î¡§' */
.eg-icon-ajust:before { content: '\e84a'; } /* 'î¡Š' */
.eg-icon-tint:before { content: '\e84b'; } /* 'î¡‹' */
.eg-icon-chart-bar:before { content: '\e853'; } /* 'î¡“' */
.eg-icon-magic:before { content: '\e807'; } /* 'î ‡' */
.eg-icon-sort:before { content: '\e895'; } /* 'î¢•' */
.eg-icon-sort-alt-up:before { content: '\e863'; } /* 'î¡£' */
.eg-icon-sort-alt-down:before { content: '\e864'; } /* 'î¡¤' */
.eg-icon-sort-name-up:before { content: '\e854'; } /* 'î¡”' */
.eg-icon-sort-name-down:before { content: '\e865'; } /* 'î¡¥' */
.eg-icon-coffee:before { content: '\e896'; } /* 'î¢–' */
.eg-icon-food:before { content: '\e897'; } /* 'î¢—' */
.eg-icon-medkit:before { content: '\e898'; } /* 'î¢˜' */
.eg-icon-puzzle:before { content: '\e899'; } /* 'î¢™' */
.eg-icon-apple:before { content: '\e89a'; } /* 'î¢š' */
.eg-icon-facebook:before { content: '\e89b'; } /* 'î¢›' */
.eg-icon-gplus:before { content: '\e89c'; } /* 'î¢œ' */
.eg-icon-tumblr:before { content: '\e8a0'; } /* 'î¢ ' */
.eg-icon-twitter-squared:before { content: '\e8a2'; } /* 'î¢¢' */
.eg-icon-twitter:before { content: '\e8a1'; } /* 'î¢¡' */
.eg-icon-vimeo-squared:before { content: '\e89d'; } /* 'î¢' */
.eg-icon-youtube:before { content: '\e89f'; } /* 'î¢Ÿ' */
.eg-icon-youtube-squared:before { content: '\e89e'; } /* 'î¢ž' */
.eg-icon-picture:before { content: '\e800'; } /* 'î €' */
.eg-icon-check:before { content: '\e810'; } /* 'î ' */
.eg-icon-back:before { content: '\e8a5'; } /* 'î¢¥' */
.eg-icon-thumbs-up-1:before { content: '\e8a9'; } /* 'î¢©' */
.eg-icon-thumbs-down:before { content: '\e8aa'; } /* 'î¢ª' */
.eg-icon-download-1:before { content: '\e8ab'; } /* 'î¢«' */
.eg-icon-upload-1:before { content: '\e8ac'; } /* 'î¢¬' */
.eg-icon-reply-1:before { content: '\e8a8'; } /* 'î¢¨' */
.eg-icon-forward-1:before { content: '\e8a7'; } /* 'î¢§' */
.eg-icon-export:before { content: '\e80b'; } /* 'î ‹' */
.eg-icon-folder:before { content: '\e813'; } /* 'î “' */
.eg-icon-rss-1:before { content: '\e8c8'; } /* 'î£ˆ' */
.eg-icon-cog:before { content: '\e832'; } /* 'î ²' */
.eg-icon-tools:before { content: '\e815'; } /* 'î •' */
.eg-icon-basket:before { content: '\e812'; } /* 'î ’' */
.eg-icon-login:before { content: '\e833'; } /* 'î ³' */
.eg-icon-logout:before { content: '\e834'; } /* 'î ´' */
.eg-icon-resize-full:before { content: '\e816'; } /* 'î –' */
.eg-icon-popup:before { content: '\e828'; } /* 'î ¨' */
.eg-icon-arrow-combo:before { content: '\e827'; } /* 'î §' */
.eg-icon-left-open-1:before { content: '\e82a'; } /* 'î ª' */
.eg-icon-right-open-1:before { content: '\e82b'; } /* 'î «' */
.eg-icon-left-open-mini:before { content: '\e822'; } /* 'î ¢' */
.eg-icon-right-open-mini:before { content: '\e823'; } /* 'î £' */
.eg-icon-left-open-big:before { content: '\e824'; } /* 'î ¤' */
.eg-icon-right-open-big:before { content: '\e825'; } /* 'î ¥' */
.eg-icon-left:before { content: '\e836'; } /* 'î ¶' */
.eg-icon-right:before { content: '\e826'; } /* 'î ¦' */
.eg-icon-ccw:before { content: '\e808'; } /* 'î ˆ' */
.eg-icon-cw:before { content: '\e8c9'; } /* 'î£‰' */
.eg-icon-arrows-ccw:before { content: '\e806'; } /* 'î †' */
.eg-icon-level-down:before { content: '\e8a3'; } /* 'î¢£' */
.eg-icon-level-up:before { content: '\e8a4'; } /* 'î¢¤' */
.eg-icon-shuffle:before { content: '\e814'; } /* 'î ”' */
.eg-icon-palette:before { content: '\e829'; } /* 'î ©' */
.eg-icon-list-add:before { content: '\e80c'; } /* 'î Œ' */
.eg-icon-back-in-time:before { content: '\e821'; } /* 'î ¡' */
.eg-icon-monitor:before { content: '\e81b'; } /* 'î ›' */
.eg-icon-paper-plane:before { content: '\e8ad'; } /* 'î¢­' */
.eg-icon-brush:before { content: '\e8ae'; } /* 'î¢®' */
.eg-icon-droplet:before { content: '\e81c'; } /* 'î œ' */
.eg-icon-clipboard:before { content: '\e8b0'; } /* 'î¢°' */
.eg-icon-megaphone:before { content: '\e8b1'; } /* 'î¢±' */
.eg-icon-key:before { content: '\e8af'; } /* 'î¢¯' */
.eg-icon-github:before { content: '\e8b3'; } /* 'î¢³' */
.eg-icon-github-circled:before { content: '\e8b4'; } /* 'î¢´' */
.eg-icon-flickr:before { content: '\e8b2'; } /* 'î¢²' */
.eg-icon-flickr-circled:before { content: '\e8b5'; } /* 'î¢µ' */
.eg-icon-vimeo:before { content: '\e8b6'; } /* 'î¢¶' */
.eg-icon-vimeo-circled:before { content: '\e8b7'; } /* 'î¢·' */
.eg-icon-twitter-1:before { content: '\e8b8'; } /* 'î¢¸' */
.eg-icon-twitter-circled:before { content: '\e8b9'; } /* 'î¢¹' */
.eg-icon-facebook-1:before { content: '\e8ba'; } /* 'î¢º' */
.eg-icon-facebook-circled:before { content: '\e8bb'; } /* 'î¢»' */
.eg-icon-facebook-squared:before { content: '\e8bc'; } /* 'î¢¼' */
.eg-icon-gplus-1:before { content: '\e8bd'; } /* 'î¢½' */
.eg-icon-gplus-circled:before { content: '\e8be'; } /* 'î¢¾' */
.eg-icon-pinterest:before { content: '\e8bf'; } /* 'î¢¿' */
.eg-icon-pinterest-circled:before { content: '\e8c0'; } /* 'î£€' */
.eg-icon-tumblr-1:before { content: '\e8c1'; } /* 'î£' */
.eg-icon-tumblr-circled:before { content: '\e8c2'; } /* 'î£‚' */
.eg-icon-linkedin:before { content: '\e8c3'; } /* 'î£ƒ' */
.eg-icon-linkedin-circled:before { content: '\e8c4'; } /* 'î£„' */
.eg-icon-dribbble:before { content: '\e8c5'; } /* 'î£…' */
.eg-icon-dribbble-circled:before { content: '\e8c6'; } /* 'î£†' */
.eg-icon-picasa:before { content: '\e8c7'; } /* 'î£‡' */
.eg-icon-ok-1:before { content: '\e811'; } /* 'î ‘' */
.eg-icon-doc:before { content: '\e809'; } /* 'î ‰' */
.eg-icon-left-open-outline:before { content: '\e82e'; } /* 'î ®' */
.eg-icon-left-open-2:before { content: '\e82c'; } /* 'î ¬' */
.eg-icon-right-open-outline:before { content: '\e82f'; } /* 'î ¯' */
.eg-icon-right-open-2:before { content: '\e82d'; } /* 'î ­' */
.eg-icon-equalizer:before { content: '\e83a'; } /* 'î º' */
.eg-icon-layers-alt:before { content: '\e804'; } /* 'î „' */
.eg-icon-pencil-1:before { content: '\e831'; } /* 'î ±' */
.eg-icon-align-justify:before { content: '\e861'; } /* 'î¡¡' */
.eg-icon-wistia:before { content: '\e89f'; } /* 'Ã®Â¢Å¸' */
.eg-icon-wistia-squared:before { content: '\e89e'; } /* 'Ã®Â¢Å¾' */

/* GENERAL STYLE MODS ADDED IN 1.1.0 */

.esg-filter-wrapper .esg-filterbutton:last-child,
.esg-cartbutton a,
.esg-selected-filterbutton										{ margin-right: 0 !important; }
.esg-singlefilters .esg-filter-checked							{	display:none !important}

/*#firstcontentcontainer	{	background:#fff !important; background-image:none !important}*/


/*****************************************
	-	AJAX LOADED CONTENT STYLING	-
*****************************************/
.eg-ajaxclicklistener	{	cursor: pointer}
.eg-ajax-video-container {
	position: relative;
    padding-bottom: 56.25%;
    padding-top: 30px; height: 0; overflow: hidden;
}

.eg-ajax-video-container.widevideo {
    padding-bottom: 50%;
}

.eg-ajax-video-container iframe,
.eg-ajax-video-container object,
.eg-ajax-video-container embed {
	position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
.forcenotvisible	{	visibility: hidden !important}
.forcenotdisplay	{	display:none !important}

/******************************
	-	SEARCH FUNCTION	-
********************************/
input.eg-search-input[type="text"],
.eg-search-input	{	display:inline-block}
.eg-search-submit,
.eg-search-clean	{	display:inline-block; width:auto; -moz-user-select: -moz-none;   -khtml-user-select: none;   -webkit-user-select: none;}
.eg-search-submit,
.eg-search-clean	{ cursor: pointer}


.eg-search-wrapper								{	vertical-align: top; line-height:40px;}
input.eg-search-input[type="text"]				{	font-family: "Open Sans",sans-serif;outline:none !important;margin:0px 0px 5px !important; padding:8px 15px;  vertical-align: middle;}




/*****************************************
	-	AJAX NAVIGATION BUTTON STYLING	-
*****************************************/
.eg-ajax-closer-wrapper 		{	display:block; z-index: 51000; position: relative}
.eg-ajax-navbt					{	cursor: pointer; display:inline-block; margin-right:5px;}

.eg-acp-inner.eg-acp-tr .eg-ajax-closer.eg-ajax-navbt,
.eg-acp-inner.eg-acp-br .eg-ajax-closer.eg-ajax-navbt	{	margin-right:0px}


.eg-ajax-closer-wrapper.eg-acp-tl,
.eg-ajax-closer-wrapper.eg-acp-bl	{	 text-align: left; }
.eg-ajax-closer-wrapper.eg-acp-tr,
.eg-ajax-closer-wrapper.eg-acp-br	{	 text-align: right; }
.eg-ajax-closer-wrapper.eg-acp-t,
.eg-ajax-closer-wrapper.eg-acp-b	{	 text-align: center;}

.eg-ajax-closer-wrapper.eg-acp-t,
.eg-ajax-closer-wrapper.eg-acp-tr,
.eg-ajax-closer-wrapper.eg-acp-tl	{margin-bottom:5px;}
.eg-ajax-closer-wrapper.eg-acp-bl,
.eg-ajax-closer-wrapper.eg-acp-br,
.eg-ajax-closer-wrapper.eg-acp-b	{margin-top:5px;}



.eg-acp-inner	{	display: block; position:absolute; z-index:50; margin:5px;}

.eg-acp-inner.eg-acp-tr,
.eg-acp-inner.eg-acp-tl,
.eg-acp-inner.eg-acp-t	{	top:0px; }

.eg-acp-inner.eg-acp-br,
.eg-acp-inner.eg-acp-bl,
.eg-acp-inner.eg-acp-b	{	bottom:0px; }

.eg-acp-inner.eg-acp-tl,
.eg-acp-inner.eg-acp-bl	{	left:0px;}

.eg-acp-inner.eg-acp-tr,
.eg-acp-inner.eg-acp-br	{	right:0px; }

.eg-acp-inner.eg-acp-t,
.eg-acp-inner.eg-acp-b	{	left:50%;-webkit-transform: translateX(-50%);transform: translateX(-50%);-moz-transform: translateX(-50%);}


.eg-ajax-navbt					{	line-height:21px; background:#000; background:rgba(0,0,0,0.75); color:#fff; border-radius:2px;-moz-border-radius:2px;-webkit-border-radius:2px; text-transform: uppercase; padding:1px 1px 0px 0px; font-size:11px; font-weight:400; }
.eg-ajax-closer.eg-ajax-navbt	{	padding: 1px 5px 1px 3px;vertical-align: top;}
.eg-acp-light .eg-ajax-navbt	{	background:#e5e5e5; color:#000;}
.eg-ajax-closer.eg-ajax-navbt i	{	font-size:13px;}
.eg-ajax-navbt i				{	font-size:16px;}

.eg-ajax-closer-wrapper.eg-acp-type1	{	margin:0;}

.eg-acp-type1 .eg-ajax-navbt	{	border-radius:0px;-moz-border-radius:0px;-webkit-border-radius:0px; padding:10px; margin:0px;}
.eg-acp-type1 .eg-ajax-navbt i	{	font-size:20px;}
.eg-acp-type1 .eg-ajax-navbt	{	width: 40px;height: 40px;text-align: center;vertical-align: medium !important; line-height: 40px; padding:0px;}

.eg-acp-type1 .eg-ajax-closer.eg-ajax-navbt	{	vertical-align: top; font-size:24px; font-weight:300; font-family: sans-serif; height: auto;line-height: 28px;padding: 8px 0px 4px;}



span.eg-el-amount:before	{	content:"("}
span.eg-el-amount:after		{	content:")"}
span.eg-el-amount	{	margin-left:10px;}